body {
  height: 100%;
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}



/*
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}
  */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.error-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}

.icon-error {
  font-size: 100px;
  color: rgb(231, 207, 57);
}

.description-error {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

/* PAGINA DE START*/
.img-background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-container-start-page {
  background: linear-gradient(
    160deg,
    #d0b4ff 0%,
    #f8f6fe 40%,
    #f4e3ff 90%,
    #ece6ef 100%
    );
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 180px;
  gap: 8px;
}

.startpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-future {
  background-color: rgb(232, 218, 249);
  color: #9a49f7;
  border: 1px solid #9936ef;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
}

.h1-startpage,
.h1-startpage-ready  {
  margin-top: 2rem;
  font-size: 4rem;
  font-weight: bold;
  opacity: 0.8;
  margin-bottom: 0;
}

.h1-startpage {
color: rgb(12, 1, 1);
}

.h1-startpage-ready {
  color: white;
}

.title-startpage {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  background: linear-gradient(
    160deg,
    rgb(115, 43, 239) 0%,
    #763bdc 40%,
    #f4e3ff 90%,
    #ceb3fc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.description-startpage,
.description-startpage-ready {
  text-align: center;
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
  
}
.description-startpage {
  color: #9d9b9b;
}

.description-startpage-ready {
  color: white;
}

.buttons-startpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-proprieties {
  background-color: #7f3cf3;
  color: white;
  font-size: 18px;
  padding: 20px 40px;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.button-about-us {
  background-color: white;
  border: 2px solid #5314c0;
  color: #7f3cf3;
  font-size: 18px;
  padding: 20px 40px;
}

.button-proprieties:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.17);
  transform: translateY(-5px);
}

.button-about-us:hover,
.button-exploring:hover {
  background-color:rgb(246, 245, 245) ;
}

.button-proprieties:focus, 
.button-about-us:focus,
.button-exploring:focus {
  outline: none;
}

.cards-information {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.cards-information .card {
  padding: 15px 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #cdcdce;
}

.cards-information .card:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 30px rgba(55, 55, 55, 0.17);
  transform: translateY(-5px);
  border: 1px solid #5314c0;
  cursor: pointer;
}

.card-title {
  color: #5314c0;
  font-size: 16px;
}

.card-description {
  color: #9d9b9b;
}
.card .icon {
  background-color: #f4e3ff;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  color: #5314c0;
}

.main-container-start-page-ready {
  background: linear-gradient(
    160deg,
    #7239d5 10%,
    #a690e9 50%,
    #c487ec 80%,
    #e9dbf0 100%
    );
  display: flex;
  flex-direction: column;
  padding: 100px;
  gap: 8px;
}

.button-exploring {
  background-color: white;
  border: none;
  color: #7f3cf3;
  font-size: 18px;
  padding: 20px 40px;
}

/*
.startpage-container {
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 4rem;
}

.h1-startpage {
  font-size: 4rem;
  font-weight: 700;
  max-width: 500px;
  color: white;
  margin-top: 1px;
}

.h3-startpage {
  font-size: 2rem;
  font-weight: 700;
  max-width: 500px;
  color: white;
}

.slideshow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 450px;
  margin-left: 150px;
}

.slideshow-images {
  display: flex;
  gap: 10px;
}

.slideshow-image {
  width: 250px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.slideshow-image.active {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  gap: 50px;
}

.buttons button {
  background: rgba(90, 90, 89, 0.1);
  border: none;
  outline: none;
  border-radius: 50%;
  color: white;

}

.buttons button:hover {
  background-color: rgb(121, 121, 121);
  transform: translateY(-3px);
  transition: all 0.3s ease;
}
  */

/* Properties Page */

.main-properties-container {
  display: flex;
  gap: 30px;
}


.properties-container {
  box-sizing: border-box;
  background-color:#f3f2f7;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.properties-content {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.properties-title {
  text-align: center;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: -0.4px;
}

.search-container {
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 20px;
  min-height: 10px;
  padding: 1.4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.17);
  gap: 2rem;
}

.search-container:hover {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.search-field {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.8rem;
}

.search-icon {
  color: #494a4b;
  font-size: 1.5rem;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.search-field:hover .search-icon {
  color: #2a292b;
  transform: scale(1.2);
}


.search-panel {
  position: absolute;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: 2px solid #5f0af2;
  height: auto;
  width: 100%;
  margin-top: 4px;
  z-index: 9999;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

 .search-panel-suggestions {
  position: absolute;
  background-color: #f8f9fa;
  border-radius: 20px;
  border: 2px solid #5f0af2;
  width: 100%;
  margin-top: 4px;
  z-index: 9999;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  max-height: 700px;
  padding: 0;
  overflow: hidden;
}

.search-panel-suggestions .item {
  position: relative;
  list-style: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: #374151;
  border-bottom: 1px solid #5f0af2;
}

.search-panel-suggestions .item:last-child {
  border-bottom: none;
}

.search-panel-suggestions .item:hover {
  background-color: #ebe7f9;
  overflow: hidden;
}

.suggestion-icon {
  color: #494a4b;
  font-size: 1.3rem;
  opacity: 0.9;
  transition: all 0.3s ease;
  margin-right: 0.5rem;
}

.availability {
  position: static;
  margin-left: 350px;
}

.date,
.availability {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1.1rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  min-width: 500px;
  z-index: 3;
}

.date .calendar-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container {
  position: relative;
  background-color: #f8f9fa;
  border: 2px solid #e9ecef;
  border-radius: 13px;
  padding: 0.8rem 1.1rem;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  color: #495057;
  font-weight: 600;
}

.container:hover {
  border-color: #0f0f10;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.15);
}

.option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
  color: #495057;
  font-weight: 600;
  font-size: 1.1rem;
}

.option .info p {
  margin: 0;
  color: #757a7e;
  font-size: 0.8rem;
}

.option button {
  background: none;
  border: none;
  outline: none;
}

.search-icon-plus-minus {
  color: #494a4b;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.button-search {
  background-color: #7f3cf3;
  border: none;
  border-radius: 12px;
  padding: 0.9rem 2.5rem;
  min-height: 56px;
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(171, 171, 172, 0.3);
  white-space: nowrap;
  outline: none;
}

.button-search:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(164, 165, 165, 0.4);
  background-color: #621add;
}

.button-search:focus {
  outline: none;
}

.button-search:active {
  transform: translateY(0);
}

.button-search:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.propertiesImages-container {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 3rem;
}

.property-card {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.property-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.image-container {
  flex: 1;
  max-width: 400px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container-details {
  display: flex;
  flex-direction: row;
}


.details {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  border-right: 1px solid #9b9fa1;
  padding-right: 10rem;
}

.property-details {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.property-details::after {
  content: "";
  display: block;
  width: 130%;
  height: 1px;
  background-color: #9b9fa1;
  margin-top: 40px;
}

.property-details .price {
  margin-top: 2%;
  margin-bottom: 2%;
  color: #7f3cf3;
  font-size: 1.5rem;
  font-weight: bold;
}

.property-details .name-property {
  color: #221e25;
  font-size: 1.5rem;
  font-weight: bold;
}

.property-details .address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #9b9fa1;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px ;
}


.property-amenities {
  display: flex;
  flex-direction: row;
  justify-content:start;
  gap: 5rem;
  color: #9b9fa1;
}

 .property-amenities .bedrooms,
 .bathrooms, .area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
 } 

.property-amenities .icon {
  color: #7f3cf3;
}

.check-availability {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  margin-left: 2.5rem;
}

.check-availability button {
  background: linear-gradient(135deg, #6f24ef 0%, #a30ae5 100%);
  border-style: none;
  color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.check-availability button:hover {
  background: linear-gradient(135deg, #920ecb 0%, #7736e9 100%);
  transform: translateY(-3px);
  cursor: pointer;
}


/* RELEVANT INFO PAGE */
.info-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-location{
  display: flex;
  gap: 15px;
}

.icon-location-info-location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-stars-header {
  color: #641ae4;
  display: flex;
  gap: 5px;
  font-size: 1.5rem;
}

.icon-location-info-location .icon {
  font-size: 1.5rem;
  color: #917bb6;
  transition: all 0.4s ease;
}

.header .title,
.place-description .title,
.place-amenities .title,
.place-policies .title,
.place-availability .title {
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #3f4143;
  margin-bottom: 0.5rem;
}

.header p,
.place-description p {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #6c6d6e;
}

.reserve-button button {
   background: linear-gradient(135deg, #6f24ef 0%, #a30ae5 100%);
  border-style: none;
  color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.reserve-button button:hover {
  background: linear-gradient(135deg, #641ae4 0%, #965cfb 100%);
  cursor: pointer;
}

.reserve-button button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.info-images {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  height: auto; 
  margin-bottom: 20px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 14px;
}

.side-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.side-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.main-image img:hover,
.side-images img:hover {
  cursor: pointer;
  filter:contrast(1);
  opacity: 0.8;
  transition: filter 0.5s ease, opacity 0.5s ease;
}

.place-description,
.place-amenities,
.place-policies,.place-availability {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 20px;
}


.place-description,
.place-amenities,
.place-policies {
  background-color: white;
}

.place-amenities .amenities {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, auto);
  gap: 10px 20px;
} 

.icon-amenities {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #6c6d6e;
}

.icon-amenities .icon,
.checkIn-checkOut .icon {
  font-size: 1.4rem;
  font-weight: 600;
  color: #621add
}

.checkIn-checkOut p {
  font-size: 1rem;
  font-weight: 500;
  color: #6c6d6e;
}

.checkIn-checkOut .check {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #5f0af2;
}

.checkIn-checkOut .check:last-child {
  border-bottom: none;
}

.dates-checkIn-checkOut {
  color: #1a1b1c;
}

.numbers-nights {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}


.dates-checkIn-checkOut .dates {
  color: #6f6f6f;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 10px;
}

.calendar-form-reserve {
  display: flex;
  flex-direction: row;
}

.form-reserve {
  padding: 1rem 2rem;
  position: relative;
  z-index: 10;
  margin-left: -250px;
  border-radius: 20px;
  background-color: white;
  border:2px solid #5f0af2;
  width: 100%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}
 
.form-reserve h2 {
  color: #1a1b1c;
  margin-top: 0;
}

.container-booking {
  border: 2px solid rgb(171, 171, 171);
  border-radius: 14px;
  background: #fffefe;
  padding: 10px 14px;
}

.info-booking {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-booking .dates {
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e5f5;
  color:#6c6d6e;
  font-size: 1rem;
  font-weight: 500;
}


.container-booking p {
  margin: 0;
  color: #6c6d6e;
}

.info-booking .total-price span {
  font-size: 1.1rem;
  font-weight: bold;
  color: #221e25 ;
  margin-right: px;
}

.info-booking .total-price {
  color: #5f0af2;
  font-size: 1.5rem;
  font-weight: bold;
}

.reserve-button {
  margin-top: 12px;
}

.reserve-button button {
  width: 100%;
  background: linear-gradient(135deg, #6f24ef 0%, #a30ae5 100%);
  border-style: none;
  color: white;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  outline: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.reserve-button button:hover {
  background: linear-gradient(135deg, #920ecb 0%, #7736e9 100%);
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(184, 157, 126, 0.4);
  cursor: pointer;
}


/*KYS FORM PAGE */
.kyc-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f7;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  gap: 5rem;
}

.kyc-contents {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.kyc-contents p {
  margin-top: 50px;
  color: #221e25;
  max-width: 500px;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: 500px;
}

.kyc-title {
  color: #221e25;
  font-size: 4rem;
  font-weight: 700;
  max-width: 500px;
}

.kyc-form-wrapper {
  margin-top: 5%;
  background-color: white;
  width: 35%;
  height: 65%;
  border-radius: 20px;
  padding: 2.5rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow-y: auto;
}

.kyc-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-right: 0.5rem;
}


.kyc-form-group {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.kyc-label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #484a4d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.kyc-input {
  width: 100%;
  padding: 0.70rem 1rem;
  border: 2px solid #e0e3e6;
  border-radius: 10px;
  font-size: 0.90rem;
  color: #484f56;
  background-color: #ffffff;
  transition: all 0.3s ease;
  outline: none;
  box-sizing: border-box;
}

.kyc-input:focus {
  outline: none;
  border-color: #7d3bee;
  box-shadow: 0 4px 12px rgba(97, 23, 146, 0.35);
}

/*
.kyc-error {
  background-color: rgba(220, 53, 69, 0.9);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 12px rgba(220, 53, 69, 0.3);
}
*/
.kyc-submit-btn {
  background-color: #7f3cf3;
  border: none;
  border-radius: 12px;
  padding: 1rem 2rem;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(97, 23, 146, 0.35);
  margin-top: 0.5rem;
}

.kyc-submit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  background-color: #621add;
}

.kyc-submit-btn:focus {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  background-color: #621add;
  outline: none;
}

/* LIST PROPERTY PAGE */
.form-container {
  background-color:#f3f2f7;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   padding-top: 60px;
}

.form-step {
  background-color: rgba(255, 255, 255, 0.90);
  border-radius: 25px;
  padding: 1.5rem;
  width: 100%;
  height: auto;
  max-width: 700px;
  max-height: 90vh;
  box-shadow: 0 9px 30px rgba(89, 89, 89, 0.15);
  border: 1px solid rgba(227, 223, 223, 0.3);
  box-sizing: border-box;
  overflow-y: auto;
 
}

/*
.form-step.active {
  display: block;
}
*/

.form-step-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #262d33;
  margin-bottom: 2rem;
}

.form-section {
  margin-bottom: 2rem;
}

.form-section-label {
  font-size: 1rem;
  font-weight: 600;
  color: #3f4143;
  margin-bottom: 1rem;
  display: block;
}

/* STEP 1 - PROPERTY TYPE */
.form-type-property {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.form-type-property-option {
  flex: 1;
  cursor: pointer;
}

.form-type-property-option input[type="radio"] {
  display: none;
}

.form-type-property-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  background-color: #f3f2f7;
  border-radius: 10px;
  border: 1px solid #e9ecef;
  transition: all 0.4s ease;
  font-weight: 600;
}


.form-type-property-icon {
  font-size: 2rem;
  color: #b88fff;
  transition: all 0.4s ease;
}

.form-type-property-option:hover .form-type-property-content {
  background-color: #ffffff;
  border-color: #621add;
  transform: translateY(-3px);
  box-shadow: 0 3px 1px rgba(61, 5, 71, 0.2);
}

.form-type-property-option:hover .form-type-property-icon {
  transform: scale(1.2);
  color: #5c07ef;
}


.form-type-property-option input[type="radio"]:checked+.form-type-property-content {
  background-color: #f6f3fa;
  border-color: #5c07ef;
  color: #492e74;
  box-shadow: 0 4px 12px rgba(97, 23, 146, 0.35);
}

/* INPUTS */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.form-label {
  font-size: 1rem;
  font-weight: 600;
  color: #484a4d;
}

.from-input {
  width: 100%;
  padding: 0.70rem 1rem;
  border: 2px solid #e0e3e6;
  border-radius: 10px;
  font-size: 0.90rem;
  color: #484f56;
  background-color: #ffffff;
  transition: all 0.3s ease;
  outline: none;
  box-sizing: border-box;
}

.input-description {
  height: 100px;
  padding: 12px;
  resize: none;
  border: 2px solid #e0e3e6;
  background-color: #ffffff;
  border-radius: 10px;
  color: #333;
  font-size: 0.9rem;
  font-width: 500;
  outline: none;
}

.from-input:focus,
.input-description:focus {
  outline: none;
  border-color: #7d3bee;
  box-shadow: 0 4px 12px rgba(97, 23, 146, 0.35);
}

.group-area-price {
  display: flex;
  flex-direction: row;
  gap:15px;
  width: 100%;
}

/* BUTTONS */
.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  
}

.form-next-button,
.form-next-button:focus {
  background: linear-gradient(135deg, #6f24ef 0%, #a30ae5 100%);
  width: 100%;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
  border: none;
}

.form-next-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-prev-button {
  background: white;
  width: 100%;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: #7d3bee;
  border: 2px solid #7d3bee;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}

.form-next-button:hover  {
  background: linear-gradient(135deg, #920ecb 0%, #7736e9 100%);
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(184, 157, 126, 0.4);
}

.form-prev-button:hover  {
  background: #f7eefb;
  border: 2px solid #7d3bee;
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(184, 157, 126, 0.4);
}

/* STEP 3*/
.form-section-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 2px solid #7d3bee;
}

/*
.form-section-options:nth-last-child(2) {
  border-bottom: none;
}
*/

.buttons-plus-minus,
.buttons-plus-minus:focus {
  display: flex;
  gap: 50px;
  outline: none;
  border: none;
  background-color: none;
}

.buttons-plus-minus button {
  background-color: #ece4fa;
  border: none;
  outline: none;
  border-radius: 50%;
  color: white;
}

.buttons-plus-minus button:hover,
.buttons-plus-minus button:focus {
  outline: none;
  background-color: #7d3bee;
  transform: translateY(-3px);
  transition: all 0.3s ease;
}

/* STEP 4 - FACILITIES*/
.form-type-facility {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 30px;
}

.form-type-facility-option {
  flex: 1;
  cursor: pointer;
}


.form-type-facility-option input[type="checkbox"] {
  display: none;
}


.form-type-facility-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding: 1rem;
  background-color: #f3f1f1;
  border-radius: 10px;
  border: 1px solid #e9ecef;
  transition: all 0.4s ease;
  font-weight: 600;
}

.form-type-facility-icon {
  font-size: 2rem;
  color: #b88fff;
  transition: all 0.4s ease;
}

.form-type-facility-option:hover .form-type-facility-content {
  background-color: #ffffff;
  border-color: #621add;
  transform: translateY(-3px);
  box-shadow: 0 3px 1px rgba(161, 138, 112, 0.2);
}

.form-type-facility-option:hover .form-type-facility-icon {
  transform: scale(1.2);
  color: #621add;
}


.form-type-facility-option input[type="checkbox"]:checked+.form-type-facility-content {
  background-color: #f6f3fa;
  border-color: #5c07ef;
  color: #492e74;
  box-shadow: 0 4px 12px rgba(97, 23, 146, 0.35);
}

/*
.progress-bar {
  background-color: red;
  width: 100%;
  height: 20px;
}

.progress {
  background-color: #0f0f10;
  height: 100%;
}
  */

/*STEP 4 - RULES */
.form-rules {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 2px solid #ae9577;
}

.option-yes-no {
  display: flex;
  gap: 50px;
}

.form-section-options-checks {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.check-in,
.check-out {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.checkin-from-until {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex:1;
}

.container-checkIn-checkOut {
  display: flex;
  gap: 20px;
}

.input-box {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 2px solid #e0e3e6;
  border-radius: 12px;
  cursor: pointer;
}

.search-panel-info-checks {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 6px;
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}

.search-panel-info-checks li  {
  width: 100%;
  padding: 6px 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.search-panel-info-checks li:hover {
  background: #f7eefb;
  cursor: pointer;
}


/*STEP 6 - UPLOAD IMAGES*/
.container-upload-images-main {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 300px;
  border-radius: 20px;
  border: 2px dashed #ababad;
  overflow: hidden;
}

.container-others-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.container-upload-images-next {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 200px;
  border-radius: 20px;
  border: 2px dashed #ababad;
  margin-top: 20px;
  overflow: hidden;
}

.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #a1a1a1;
}

.upload-image-main {
  position: relative;
  width: 100%;
  height: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.upload-image-next {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.icon-image-main {
  font-size: 4.5rem;
  color: #7b7980;
  transition: all 0.4s ease;
}

.icon-image-next {
  align-items: center;
  font-size:2.5rem;
  color: #7b7980;
  transition: all 0.4s ease;
  margin-bottom: 10px;
}

.file-upload input {
  display: none;
}

.upload-button {
  padding: 10px 20px;
  background: linear-gradient(135deg, #6f24ef 0%, #a30ae5 100%);
  transition: all 0.4s ease;
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.upload-button:hover,
.upload-button:hover:focus {
  background: linear-gradient(135deg, #920ecb 0%, #7736e9 100%);
  transform: scale(-100px);
  transform: scale(1.2);
  box-shadow: 0 6px 20px rgba(165, 128, 188, 0.4);
  cursor: pointer;
}

/*
.wrapper-image {
  position: relative;
  width: 100%;
  height: 100%;
}
  */

.view-image {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.delete-button {  
  position: absolute;
  top: 0;
  right: 0;
  background-color: #571fb1;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
}

.delete-button:focus {
  outline: none;
}
  

/* PAGINILE DE LA YOUR ACCOUNT */
.wrapper-yourAccount {
  display: flex;
  background-color: #f3f2f7;
 
  margin-top: 60px; 
}

.sidebar {
  width: 200px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-right: 1px solid #9369dd;
}

.sidebar .sidebar-link-option {
  display: flex;
  align-items: center;
  gap: 0.80rem;
  padding: 1rem 1rem;
  color: #495057;
  border-bottom: 1px solid #9369dd;
}

.sidebar .sidebar-link-option:hover,
.sidebar .sidebar-link-option.active {
  background-color: #e7e0f4;
  border-radius: 10px;
}

.sidebar .sidebar-icon {
  margin-right: 10px;
  font-size: 1.4rem;
}

/*MY ACCOUNT*/
.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  padding: 40px;
  gap: 8px;
}

.main-container .top {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height: 150px;
  gap: 10px;
}

.main-container .top .icon {
  padding: 1rem;
  font-size: 3rem;
}
.main-container .top .info-account {
 display: flex;
 flex-direction: column;
 gap: 2px;
}

.main-container .top .account {
  font-size: 1.2rem;
  font-weight: 500;
  color: #495057;
}

.main-container .top .wallet-address {
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
}

.main-container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 5rem;
  background: white;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.image-upload-wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50% ;
  cursor: pointer;
  overflow: hidden;
}

.preview-image {
  height: 100px;
  border-radius: 50% ;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  color: #495057;
}

.main-container .bottom,
.bottom-left-right {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
/*
.main-container .bottom,
.bottom-left-right {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 100%;
}
*/


/* EDIT INFO*/
.button-edit {
  background: none;
}

.icon-edit {
  font-size: 1.5rem;
  color: #ab80f5;
  transition: all 0.4s ease;
}

.icon-edit:hover {
  font-size: 1.5rem;
  color: #621add;
  transition: all 0.4s ease;
}

.button-edit:focus,
.icon-edit:focus {
outline: none;
color: #621add;
transition: all 0.4s ease;
border-color: #621add;
}


.edit-container {
  position: fixed;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-edit {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 10px 25px rgba(90, 90, 90, 0.2);
}

.modal-edit h2 {
  color: #4f4f4f;
  margin: 0;
  text-align: center;
}

.modal-edit input{
  font-size: 15px;
  color: #4e4e4f;
  border: 1px solid #7c7b7b;
  border-radius: 10px;
  padding: 12px;
}

.modal-edit-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}


.modal-edit-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
}

.modal-edit-buttons .cancel {
  background: #ab80f5;
  color: white;
}

.modal-edit-buttons .submit {
  background: #621add;
  color: white;
}

.modal-edit-buttons .cancel:focus,
.modal-edit-buttons .submit:focus {
  outline: none;
}


.main-container .bottom {
  flex-direction: column;
}

.bottom .bottom-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #495057;
  margin:0rem  2rem;
}

/*
.bottom .bottom-title {
  border-bottom: 1px solid rgb(163, 159, 163);
  font-size: 1.3rem;
  font-weight: bold;
  color: #495057;
  margin:0rem  2rem;
}
*/
.title-review {
  font-size: 1.3rem;
  font-weight: bold;
  color: #495057;
  margin:0rem  2rem;
}

.bottom-left-right {
  flex-direction: row;
  gap: 5rem;
  padding: 0rem 2rem;
}

.bottom .bottom-left,
.bottom .bottom-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rentals-sections {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  gap:5rem;
}

/*
.rentals-filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #e7e0f4;
  border-radius: 15px;
  height: 30px;
  width: 150px;
  gap: 1rem;
}
*/

/*
.rentals-filters span, 
.reviews-filters span {
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #495057;
}
*/
/*
.rentals-filters:hover{
  background-color: #af83fa;
  cursor: pointer;
}
*/

/*
.rentals-filters.active {
  background-color: #915bee;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
*/

.rentals-content {
  margin:1rem  2rem;
  padding: 0rem 1rem;
}

.rental-card-wrapper {
  margin-right: 10px ;
  margin-bottom: 30px;
}

.rental-card {
  background-color: white;
  border: 1px solid #915bee;
  border-radius: 10px ;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 10px 10px rgba(13, 2, 13, 0.05);
}

.apartments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-load-results  {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-load-results p {
  color: #495057;
  font-size: 1.2rem;
  font-weight: 400;
}

.button-load-more {
  background-color: #7a33f4;
  height: 50px;
  padding: 5px 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-load-more:focus,
.button-load-more:hover {
 background-color: #6b27e0;
 border: none;
outline: none;
}

.location {
  margin-top: -10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.location .icon-location {
  font-size: 1.5rem;
  color: #500bc8;
  transition: all 0.4s ease;
}

.rentals-content .rental-image img {
  height: 150px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(86, 85, 87, 0.05);
}

.rentals-content  .rental-information {
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  color: #8b9197;
}

.rental-information .rental-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: #495057;
}

.rental-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #495057;
}

.rental-card .rental-feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rental-card .rental-feedback .button-review,
.button-delist {
  background-color: #7a33f4;
  height: 50px;
  width: 150px;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rental-card .rental-feedback .button-review:hover,
.rental-card .rental-feedback .button-review:focus,
.button-delist:hover,
.button-delist:focus {
  background-color: #6b27e0;
  border: none;
  outline: none;
}

.container-stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  cursor: pointer;
  margin: 5px;
}

.star {
  color:#dbd7d7;
  transition: 0.5s;
}

.star.active,
.star:hover  {
  color: rgb(240, 240, 37);
  transform: scale(1.3);
}

.star.active:focus{
  color: rgb(240, 240, 37);
  transform: scale(1.3);
}

.input-feedback {
  height: 100px;
  padding: 12px;
  resize: none;
  border-color: #621add;
  border-radius: 10px;
  color: #333;
  font-size: 0.9rem;
  font-width: 500;
  outline: none;
}

.no-rentals, 
.no-reviews {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 2rem 0;
 font-size: 1.3rem;
 font-weight: bold;
 color: #495057;
}

.no-rentals img {
  height: 230px;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(86, 85, 87, 0.05);
}


/* WALLET*/
/* overview*/
.available-balance {
  background-color: #6e3cc5;
  border-radius: 10px;
  height: 230px;
  padding: 1rem 2rem;
  margin: 25px;
}

.available-balance p {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

.available-balance .balance {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0;
}

.buttons-balance {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

.deposit-withdraw {
  font-size: 1.3rem;
  height: 50px;
  color: white;
  background-color: #9c7ad2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1px px;
}

.deposit-withdraw:hover,
.deposit-withdraw:focus{
  background-color: #c8abf7;
  outline: none;
  border: none;
}


.container-deposit-withdraw {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.container-deposit-withdraw label{
  color: #757575;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.container-deposit-withdraw .input:focus {
  outline: none;
  border: 3px solid #8541fa;

}

.container-deposit-withdraw p{
  color: #7c7878;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.container-walletAddress,
.container-transaction-history {
  background-color: white;
  border:1px solid rgb(187, 186, 186);
  border-radius: 10px;
  padding: 1rem 2rem;
  margin: 25px;
}

.container-walletAddress {
   height: 180px;
}

.container-walletAddress .title,
.container-transaction-history .title {
  color: #757575;
  font-size: 1.2rem;
  font-weight: bold;
}

.container-transaction-history .title {
  color: #757575;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(187, 186, 186);
  padding-bottom: 20px;
}
.button-copy {
  background: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #8442f6;
}

.button-copy:focus {
  outline: none;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(187, 186, 186);
}

.transaction-item.last {
  border-bottom: none;
}


.container-copy-address {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 1rem;
}

.status-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon-status {
  font-size: 1.2rem;
  color: #0b8bed;
  background-color: #f0f0f0;
  padding: 8px 12px;
  border-radius: 10px;
}

.icon-refund {
  color: rgb(20, 196, 20);
}

.icon-deposit {
  color: rgb(78, 234, 78);
}


.icon-withdraw {
  color: red;
}

.name-hotel-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}

.name-hotel {
  color: #444444;
  font-size: 1.2rem;
  font-weight: bold;
}

.date-pay {
  margin-top: -20px;
  color: #444444;
  font-size: 1rem;
  font-weight: 400;
}

.transaction-item  {
  display: flex;
  color: #444444;
  font-size: 1.2rem;
  font-weight: bold;
}

.status {
  color: #4dd834;
  margin-top: -20px;
  font-size: 1.1rem;
  font-weight: bpold;
}

.price-for-rental {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.price-payment {
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
}

.price-refund {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(20, 196, 20);
}


/* Body-ul cardului */
.card-body {
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  padding: 14px;
  text-align: center;
}


/* RESERVE PAGE*/
.container-reserve {
  display: flex;
  gap: 5rem;               
  width: 100%;
  margin: 5rem auto;   
}        

.contact-info,
.history-reservation {
  flex: 1;                 
  padding: 2rem;
  background-color: white;
  border: 2px solid #621add;
  border-radius: 10px;
  box-shadow: 0 8px 28px rgba(19, 24, 36, 0.06);
}

.contact-info h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #495057;
  margin-top: 0;
}

.history-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9369dd;
}

.history-top .title h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3f4143;
  margin-bottom: 0.5rem;
}

.history-top .title p {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #6c6d6e;
}

.history-top .image img{
  height: 100px;
  width: 150px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.title-location h2 {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  font-weight: bold;
  color: #495057;
}


.history-content {
  display: flex;
  flex-direction: column;
}

.history-content {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  color: #6c6d6e;
}

.history-content .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #9369dd;
  padding-bottom: 10px;
}

.history-content .info:last-child {
  border-bottom: none;
}

.history-content .info .total-price {
  color: #5f0af2;
  font-size: 1.6rem;
  font-weight: bold;
}

.button-payment,
.button-payment-eth,
.button-payment:focus,
.button-payment-eth:focus {
  background: linear-gradient(135deg, #6f24ef 0%, #a30ae5 100%);
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
  border: none;
  outline: none;
}

.button-payment:hover,
.button-payment-eth:hover{
   background: linear-gradient(135deg, #920ecb 0%, #7736e9 100%);
    transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(184, 157, 126, 0.4);
}



.form-group .wallet-address,
.form-group  .price {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #848585;
}

.form-group .wallet-address {
 border-bottom: 1px solid #9369dd;
 padding-bottom: 10px;
}

.eth-payment {
  margin-top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #6c6d6e;
  margin-bottom: 0;
}

.modal-reservation {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 0 10px 25px rgba(90, 90, 90, 0.2);
}

.icon-reservation-status {
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
}

.hourglass {
  color: rgb(237, 237, 74);
}

.confirmed {
  color: rgb(16, 202, 22);
}

.canceled {
  color: rgb(228, 24, 24);
}

.try-again {
  background-color: rgb(228, 24, 24); ;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 20px;
}

.try-again:focus {
  outline: none;
}

.modal-reservation h2 {
  font-size: 2rem;
  color: #151515;
}

.modal-reservation p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #151515
}

/* REVIEW*/
.reviews-sections {
  margin-left:  40px;
  margin-bottom: 40px;
  display: flex;
  gap:40px;
  border-bottom: 2px solid rgb(209, 207, 207);
}

.reviews-filters, 
.rentals-filters {
  margin-left: 10px;
  cursor: pointer;
  padding: 10px 5px;
  color:#6c6d6e;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
}

.rentals-filters span{
  margin-left: 10px
}

.buttons-status-rentals {
  display: flex;
  gap: 25px;
  margin-left: 10px;
}

.reviews-filters.active, 
.rentals-filters.active {
  color: #8442f7;
  font-weight: bold;
}

.reviews-filters.active::after,
.rentals-filters.active::after  {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 3px;
    background: #7c3aed;
    border-radius: 3px;
}


.header-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}

.icon-review {
  font-size: 5rem;
  color: rgb(228, 228, 40);
}

.title-review {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.average-rating {
  font-size: 3rem;
  font-weight: bold;
  margin: 3px 0 0 2px;
}


/*PAGE REVIEW */
.review-card {
  background-color: white;
  border: 1px solid #915bee;
  border-radius: 10px ;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 10px 10px rgba(13, 2, 13, 0.05);
}

.review-header {
  display: flex;
  align-items: center;
  gap: 20px; 
  margin-bottom: 15px;
}

.first-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  width: 60px;
  height: 60px;
  background-color: #dabfee;
  border-radius: 50%;
  font-size: 2rem;
  color: #8442f7;
  font-weight: bold;
  padding: 0;
}


.details-rentals .name-renter {
  color: #515050;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.details-rentals .date-rental {
  color: #aaa9a9;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0;
}

.name-apartment span {
   color: #aaa9a9;
}

.rating-stars {
  display: flex;
  gap: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(236, 236, 57);
}

.no-reviews img {
  height: 300px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(86, 85, 87, 0.05);
}


.reviews-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/*FOOTER*/
.footer {
  background: #f5f5f5;
  border-top: 1px solid #adadad;
}

.footer-container {
 max-width: 1100px;
 margin: auto;
 padding:20px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-bottom: 40px;
}

.title-app {
  color: #0f0f10;
  font-size: 1.5rem;
  font: bold;
  margin-bottom: 15px;
}

.description {
  font-size: 1rem;
  color: #767676;
  font-weight: 400;
}

.footer-columns .list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li  {
  margin-bottom: 5px;
}

.list a {
  color: #767676;
  font-weight: 400;
  margin-bottom: 5px;
}

.list a:hover {
  color: #353535;
}

.copyright {
  border-top: 1px solid #adadad;
  font-size: 1rem;
  font-weight: 400;
  color: #767676;
  padding: 5px;
  display: flex;
  justify-content: center;
}

/* ABOUT*/
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.about-content {
background: linear-gradient(
160deg,
#9358f2 0%,
#e6e3ef 40%,
#f4e3ff 90%,
#9e6eed 100%
);
  padding: 120px 50px;
  display: flex;
  align-items: center;
  gap:5rem;
}

.content-left {
  display: flex;
  flex-direction: column;
}

.content-left, .content-right {
  flex:1;
}

.content-right img {
  border-radius: 10px;
  box-shadow: 0 0 60px rgb(37, 35, 37);
  width: 100%;
  height: 400px;
}

.content-left .description {
  color: #232324;
  font-size: 1.2rem;
  font-weight: 500;
}


/* SUPPORT PAGE */
.support-container {
  margin-top: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.support-wrapper {
  width: 70%;
  height: 600px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 60px rgb(229, 226, 229);
  overflow-y: auto;
}

.support-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    160deg,
    rgb(115, 43, 239) 0%,
    #763bdc 40%,
    #f4e3ff 90%,
    #ceb3fc 100%
  );
  color: white;
  font-size: 10px;
  font-weight: 600;
  padding: 0 20px;
}

.support-description {
  padding: 10px 30px;
  color: #767676;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
}

.support-questions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}

.support-questions .question {
  background-color: white;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid #ccc;

}

.chat-container {
  display: flex;
  flex-direction: column;
}

.chat-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  overflow-y: auto;
  height: 500px;
}

.chat-container input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chat-container button {
  background: #8d56ec;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
}

.chat-container button:hover {
  background: #712ee6;
}

.chat-container button:focus {
  outline: none;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  overflow-y: auto;
}

.message {
  max-width: 80%;
  padding: 10px 16px;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}



.message.user {
  align-self: flex-end;
  background: #8d56ec;
  color: white;
  border-bottom-left-radius: 10px;
}

.message.chatBot {
  align-self: flex-start;
  background: #f5f3f3;
  color: black;
  border-bottom-right-radius: 10px;
}

.message.user .response span {
  color: #ebeaea;
  font-size: 15px;
}


.message.chatBot .response span {
  color: #ababab;
  font-size: 15px;
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px ;
  border-top: 1px solid #ddd;
}



